 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<%= form_for (@task) do |f| %>
<div class="form-group" style="margin-left:45px;">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="form-group" style="margin-left:45px">
  <%= f.label :details %>
  <%= f.text_field :details %>
</div>

<div class="form-group" style="margin-left:45px">
  <%= f.label :completed %>
  <%= f.check_box :completed %>
</div>



<div class="form-group" style="margin-left:45px">
  <%= f.submit class: "btn btn-primary" %>
</div>
<% end %>
